<section class="banner">
  <h1>Dúvidas? Entre em contato conosco</h1>
  <h3>Email </h3>
  <h3>Telefone</h3>
 
</section>

<section class="form-adocao">
  <h2>Para preencher o formulário de adoção</h2>
  <button class="button-form">Clique aqui</button>
</section>

<section class="about-us">
  <h1>Lorem</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tenetur aliquam
    corrupti sed asperiores praesentium quod nesciunt? Saepe tempora
    reprehenderit provident magnam optio quis assumenda quia, possimus illum
    fuga quod.
  </p>
</section>

<div class="local">
  <h3>Faça uma visita</h3>
  <span>LOCAL</span>
</div>
