
h1{
    text-align: center;
    margin: 1rem;
}
.step{
    display: flex;
    justify-content: space-around;   
}
.container-cards{
    display: flex; 
    
}
.card{
    color: rgb(0, 0, 0);
    background-color:#5a007e70;
    margin: 1rem;
    padding: 1rem;
    width: 40%;
    
    
    h1{
        
        color: rgb(0, 0, 0);  
    }
    p{
        text-align: center;
    }
}
