
<!---->

<h1>Motivos para adoção responsável</h1>
<section class="step">
    <article class="container-cards">
        <div class="card">
            <h1>Nossa missão</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facilis </p>
        </div>
        <div class="card">
            <h1>Adoção responsável</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facilis </p>
        </div>
        <div class="card">
            <h1>Voce sabia?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facilis </p>
        </div>
    </article>
</section>
