<main>
  <div class="login">
    <div class="card">
      <h2>Olá</h2>
      <h3>{{titleLogin}}</h3>
      <form class="login-form">
        <div class="email">
          <input type="email" [formControl]="email" placeholder="E-mail" />
        </div>
        <div class="password">
          <input type="password" [formControl]="password" placeholder="Senha" />
        </div>
        <p class="error" *ngIf="error">Informações inválidas</p>

        <button type="button" (click)="authenticate()">Entrar</button>
      </form>
      <br>
      <p>Não tem conta?
        <span (click)="navigateByUrl()" >Registre-se</span>
      </p>
    </div>
  </div>
</main>
