.banner{
    background-color:rgb(229, 220, 236) ;
    height: 500px;
    h1{
        color: white;
        font-size: 4rem;
        font-weight: bold;
        top: 30%;
        left: 20%;
        position: absolute;
    }
}

