<main class="title">
  <h1>{{titleForm}}</h1>
 
</main>

<form [formGroup]="adocaoForm" (ngSubmit)="sendForm()">
  <div class="form-group">
    <label type="text">Nome do Responsável</label>
    <input type="text" name="nome" formControlName="name" />

    <label>Endereço</label>
    <input type="text" name="endereco" formControlName="adress" />

    <label>E-mail</label>
    <input
      type="email"
      name="e-mail"
      placeholder="digite aqui"
      formControlName="email"
    />

    <label type="text">Salário aproximado</label>
    <input type="number"
     name="salario" 
     formControlName="averageWage" />

    <label> Qual o número de passeios diários?</label>
    <input
      type="number"
      name="quantidade"
      min="1"
      max="10"
      formControlName="walk"
    />

    <label type="text">Descreva a rotina diária que seu pet irá seguir </label>
    <input type="text" name="nome" formControlName="routine" />
    <input
      type="submit"
      value="Enviar Formulário"
      class="btn"
      (click)="sendForm()"
    />
  </div>
</form>


<section class="step">
  <article class=" container-cards">
      <div class="card">
          <h1>Nossa missão</h1>
          <p>{{ourMission}}</p>
      </div>
      <div class="card">
          <h1>Adoção responsável</h1>
          <p>{{card}}</p>
      </div>
     
  </article>
</section>
